.user_picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.post-item {
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 10px;
}
.post-item:last-child {
    border-bottom: none;
}
.card {
    border-radius: 10px;
}
.card-body h5 {
    font-weight: 600;
}
